@model CelyWeb.ViewModels.SeccionsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles: @Model.Seccion.Nivel</h2>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3>Aula</h3>
        <p>@Model.Seccion.Aula</p>
        <h3>Fechas</h3>
        <ul>
            <li><b>Fecha de Inicio: </b>@Model.Seccion.StartDate.ToShortDateString()</li>
            <li><b>Fecha de Registro: </b>@Model.Seccion.DateAdded.ToShortDateString()</li>
        </ul>
        <h3>Detalles</h3>
        <ul>
            <li><b>Limite Estudiantil: </b>@Model.Seccion.StudentLimit</li>
            <li>
                @if (Model.Seccion.IsActive)
                {<b>El Nivel Esta Activo</b> }
                else
                { <b>El Nivel No Esta Activo</b>}
        </li>
    </ul>
    <a class="btn btn-primary" href="/Seccions/Modify/@Model.Seccion.Id">Modificar</a>
    <a href="/Seccions/New" class="btn btn-primary">Nuevo Nivel</a>
    </div>
    <div class="col-md-4"></div>
</div>
