@model CelyWeb.ViewModels.StudentsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Estudiante</h2>
<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">

    </div>
    <div class="col-md-8 col-sm-8 col-lg-8">
        @{
            if (Model.Student.Photo != null)
            {
                var base64 = Convert.ToBase64String(Model.Student.Photo);
                var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                <img id="ImgDetalle" src="@imgSrc" />
            }
            else
            {
                <img id="ImgDetalle" src="~/Images/img_avatar.png" />
            }
        }
        <h3>@Model.Student.Name @Model.Student.LastName</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">

    </div>
    <div class="col-md-8 col-sm-8 col-lg-8">

        <h4>Detalles</h4>
        <ul>
            <li><b>Fecha de Registro:</b> @Model.Student.DateAdded.ToLongDateString()</li>
            <li><b>Seccion:</b> @Model.Student.Seccion.Nivel</li>
        </ul>

        <h4>Pagos</h4>
        <ul>
            <li><b>Tipo de Pago: </b>@Model.Student.PaymentType.Type</li>
            <li><b>Fecha Proximo Pago: </b>@Model.Student.PaymentDate.ToLongDateString()</li>
            <li><b>Cantidad de pago: </b>RD$@Model.Student.PaymentType.Amount</li>

            @if (Model.Student.GroupOfStudents != null)
            {
                <li><b>Familia: </b>@Model.Student.GroupOfStudents.Name</li>
            }

        </ul>
        <a class="btn btn-primary" href="/Students/Register">Nuevo Estudiante</a>
        <a href="/Students/Modify/@Model.Student.Id" class="btn btn-primary">Modificar</a>
        <a class="btn btn-primary">Hacer un pago</a>
    </div>
</div>