@model CelyWeb.ViewModels.StudentsViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo Estudiante</h2>

<div class="row">
    @using (Html.BeginForm("Save", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <div class="col-md-4">

            @{
                if (Model.Student.Photo != null)
                {
                    var base64 = Convert.ToBase64String(Model.Student.Photo);
                    var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                    <img id="ImgDetalle" src="@imgSrc" />
                }
                else
                {
                    <img id="ImgDetalle" src="~/Images/img_avatar.png" />
                }
            }
            <input class="btn btn-primary" type="file" id="Photo" name="Photo" onchange="readURL(this);" accept="image/jpg, image/jpeg, image/png, image/gif" />
        </div>

        <div class="col-md-8">

            <div class="form-group">
                @Html.LabelFor(m => m.Student.Name)
                @Html.TextBoxFor(m => m.Student.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Student.LastName)
                @Html.TextBoxFor(m => m.Student.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.LastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Student.PaymentTypeId)
                @Html.DropDownListFor(m => m.Student.PaymentTypeId, new SelectList(Model.PaymentTypes, "Id", "Type"), "Selecciona un Tipo de Pago", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.PaymentTypeId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Student.SeccionId)
                @Html.DropDownListFor(m => m.Student.SeccionId, new SelectList(Model.Seccions, "Id", "Nivel"), "Selecciona la Seccion", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.SeccionId)
            </div>
            <div class="form-group">
                <label>
                    @Html.CheckBoxFor(m => m.Student.IsVIP) Es un Estudiante VIP?
                </label>
            </div>

            @Html.HiddenFor(m => m.Student.Id)

            <button type="submit" class="btn btn-primary">Guardar</button>

        </div>
    }
</div>
@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")
}