@model CelyWeb.ViewModels.GroupsViewModel
@{
    ViewBag.Title = "GroupsForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nueva Familia</h2>

<div class="row">
    <div class="col-sm-2">

    </div>
    @using (Html.BeginForm("Save", "Groups"))
    {
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.GroupOfStudents.Name)
                @Html.TextBoxFor(m => m.GroupOfStudents.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GroupOfStudents.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GroupOfStudents.PaymentTypeId)
                @Html.DropDownListFor(m => m.GroupOfStudents.PaymentTypeId, new SelectList(Model.PaymentTypes, "Id", "Type"), "Selecciona un Tipo de Pago", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GroupOfStudents.PaymentTypeId)
            </div>
            <div class="form-group">
                <label>
                    @Html.CheckBoxFor(m => m.GroupOfStudents.IsVIP) ¿Es VIP?
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <h3>Estudiantes</h3>
            <div class="form-group">
                <label>Nombre: </label>
                <input type="text" class="form-control" name="studentName" id="studentName" required />
            </div>
        </div>
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/site")


    <script>
        var studentsIDs = [];

    </script>


    }